language: node_js
node_js:
- 8.4.0
addons:
  chrome: stable
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
before_script:
- npm run build:prod
jobs:
  include:
  - stage: server tests
    script: node ./build/server/index.js & npm run test
  - stage: client tests
    script: karma start --single-run
deploy:
  provider: heroku
  api_key:
    secure: KuH3mV469RbkUoCcoWzQtlZahACsmJlky2nvUkugo4cR0fexW+m6Ee6wfoXSLz8+uMdngQp+TtuOzaF+SuwvNNmZ372x+IV5px7geCFa4ej6MWMdSWW02ZYz4eIqNiDlvakrVJ3ASw+GLUCrWYStR88Xz5/zAVKTIv7CBCGjFWGPnRYCXEYnTzAwWNB70UHkA+P7lPVwy922oAgDubuV0z4SS+TjwMmpsZ4+kBrHOrueeQ2Nzd04B8rf/uxM2KWJUY0ccN12wPcRFhgL/HL5ytzY0c6HktNn8G7I5wKDeEzgq5c8BhC0Ph6y2hdPWsyp4a1aZhA9ZPF/F6LY9kc5oRJXYlgf8RvnLV86/3uRF44hIO1J/eEM9Mh0W4uQup9qwDpsstaGPBWuh10My3IHQ7kSJhpsH+mowLLxL3KeTRpDNl6AERuuDnILrzBs6FSirW4PaVlPQp9VG3tH7pwtFDjN4b1OLaUajJVJ+OHLnlVkR+akzUURkBdC26a2hnlFnv6s0FX+l7qne7GcZ5nLGQkc4CAViFWflv0UtzzXE1itw0YOOGQrcUmKvl6A3tEWiL+DY/laT2u6V1I2aRG318duMR2vhRNLckPWqpFEDBsnyj6ThcIPIUfbbapoqAakiao1vZkEbty/5NQonHE836UEq4iBttSr8mPJs8J1K0Q=
  app: newsstandbetav2
  on:
    repo: daybydayaddictionfree/news_stand
